/*--------------------共通--------------------*/
body{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fff;
    font-family: "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
    font-feature-settings: "palt";
    text-align: center;
    font-size: 16px;
}
a.logo {
    display: block;
    padding: 5px;
    background: #fcfaea;
}
a.logo img {
    height:40px;
}

ul.index {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 2;
    font-size: 1.5em;
}
ul.index a {
    color: #000;
}


.breadcrumb {
    padding:5px;
    text-align: left;
}



h3 {
    margin: 0;
    padding: 10px 0;
    text-align: left;
}
form {
    max-width: 800px;
    margin: 0 auto 30px;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    background: #fff;
    border: #ccc solid 1px;
}
form.edit {
    background: #efe;
    border: #090 solid 1px;
}
form.del {
    background: #fee;
    border: #a00 solid 1px;
}
form dl {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
}
form dt,
form dd {
    display: block;
    margin: 0;
    padding: 5px 0;
    vertical-align: top;
}
form dt {
    font-weight: bold;
}
form span {
    display: inline-block;
    padding: 0 5px;
    color: #999;
    font-size: 0.75em;
}
form span.red {
    color: #f00;
}
form input[type=text],
form select,
form textarea {
    display: block;
    resize: none;
    width: 100%;
    font-size: 1.1em;
    font-family: sans-serif;
    color: #000;
}
form input[type=reset],
form input[type=submit] {
    margin: 10px 10px 0 10px;
    background: #999;
    color: #fff;
    font-size: 1.1em;
    font-family: sans-serif;
}
form input[type=submit] {
    background: #f60;
    font-weight: bold;
}
.error_message {
    display: none;
    background: #ff0;
    color: #f00;
    font-weight: bold;
}




.list {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px 50px 10px;
    box-sizing: border-box;
    text-align: left;
}
.list:after {
    content: "";
    display:block;
    clear: both;
}
.list dt {
    position: relative;
    margin-top: 10px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
    border-top: #000 dashed 1px;
}
.list dt:first-child {
    margin-top: 0;
}
.list dt:after {
    content: "";
    display:block;
    clear: both;
}
.list dt .title {
    display: inline-block;
    padding-right: 25px;
    color: #f60;
}
.list dt a.btn {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
}
.list dt a.edit {
    right: 50px;
    background: url(../images/icon_edit.png);
    background-size: contain;
}
.list dt a.trash {
    right: 5px;
    background: url(../images/icon_trash.png);
    background-size: contain;
}
.list dt.invisible .title:after {
    content: "";
    display: inline-block;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background: url(../images/icon_invisible.png);
    background-size: contain;
}




.calendar {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px 50px 10px;
    box-sizing: border-box;
}
.customCalendar {margin:0 auto 10px; padding:0; font-size:1em; }
.customCalendar:after {content:''; display:block; clear:both;}
.customCalendar > table {margin:0; padding:0 0 10px 0; width:100%; box-sizing:border-box; float:left; table-layout:fixed; border-collapse:separate; border-spacing:0; border:none;}

.customCalendar > table caption {position:relative; margin:0 10px 0 0; padding:0; color:#000; font-weight:bold; text-align:left;}
.customCalendar > table caption > strong {font-size:2em;}

.customCalendar > table th {background:#fff; color:#333; font-weight:bold;}
.customCalendar > table th, .customCalendar > table td {margin:0; padding:0; text-align:center; font-size:0.75em; border-bottom:1px #ddd solid; border-right:1px #ddd solid;}
.customCalendar > table tr:first-child th {border-top:1px #ddd solid;}
.customCalendar > table th:first-child, .customCalendar > table td:first-child {border-left:1px #ddd solid;}
.customCalendar > table th:first-child {color:#cc4c4c;}
.customCalendar > table th:last-child {color:#00cbeb;}
.customCalendar > table td {vertical-align:top; background:#fdfbf3; line-height:1.5; height:6em; color:#666;}
.customCalendar > table td.today {background:#f7ec7e;}
.customCalendar > table td > span {display:block; color:#000;}
.customCalendar > table td > .close {color: #bbb; font-weight:bold;}
.customCalendar > table td > .holiday {color: #c33;}
.customCalendar > table td > .comment {color: #000; font-weight:bold;}
.customCalendar > table td > div {display:block; white-space:nowrap; text-align:center; background:#099; font-weight:bold; color:#fff;}
.customCalendar > table td.close > div {background:#e54b4b;}
.customCalendar > table td.past > div {background:#aaa;}

.customCalendar > table td.present:hover {
    cursor: pointer;
    background: #f60;
}
.customCalendar > table td.present:hover span {
    color: #fff;
}
.customCalendar > table td > span.hidden {
    display: none;
}



.edit_schedule {
    display: none;
}
.edit_schedule ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
.edit_schedule li {
    padding: 5px;
}
.edit_schedule input[name=date],
.edit_schedule select
{
    display: inline-block;
    width: auto;
}
.edit_schedule .date {
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
}
.edit_schedule .holiday {
    padding-left: 5px;
    font-size: 1em;
    color: #a00;
}


@media all and (max-width: 768px) {
    .list dt .title {
        display: block;
    }
    .list dt a.btn {
        width: 20px;
        height: 20px;
    }
    .list dt a.edit {
        right: 40px;
    }
}