/*--------------------共通--------------------*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
    background-color: #e3dfbc;
    
}
.base_contents{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

ul{
    list-style: none;
    text-align: left;
}
p{
    margin: 2px;
    padding: 0;
    font-size: 1.2rem;
}
span.red{
    color: #ac0000;
}
/*--------------------ヘッダー--------------------*/
header{
    font-size: 1.1rem;
    padding: 5px 30px;
    height: 50px;
    position: fixed;
    max-width: 1140px;
    background-color: #fcfaea;
    z-index: 99;
    box-shadow: 0px 3px 6px -3px rgba(0,0,0,0.6);
}
/*--------------------ヘッダーロゴ--------------------*/
.change_logo{
    margin-top: 5px;
    float: left;
    display: inline-block;
    vertical-align: top;
    width: 20%;
}
.change_logo img{
    width: 100%;
}
/*--------------------帯メニュー--------------------*/
.right_menu {
    display: inline-block;
}
.right_menu_block {
    text-decoration: none;
    color: #fff;
    text-align: center;
    width: 30px;
    background-color: #dc4021;
    padding: 60px 10px 14px;
    border-radius: 6px 0 0 6px;
    position: fixed;
    z-index: 3;
    right: 0px;
    background-repeat: no-repeat;
    background-size:60% auto;
    background-position: 50% 20px;
    box-shadow:0px 0px 6px rgba(5, 5, 5, .8);
    line-height: 1.2;
}
.menu_document{
    background-image: url(../images/common/document.png);
    padding: 80px 10px 14px;
    background-position: 50% 30px;
    top: 430px;
    height: 110px;
}
.menu_consultation{
    background-image: url(../images/common/consultation.png);
    height: 130px;
    top: 170px;
}
/*--------------------メニュー--------------------*/
nav.menu {
    float: right;
    margin-top: 10px;
    text-align: right;
    
}
nav.menu ul{
    text-align: right;
    margin: 0;
    padding: 0;
}
nav.menu ul > li {
    margin-right: 30px;
    display: inline-block;
}
nav.menu ul > li:last-child {
    margin-right: 0px;
}
nav.menu ul > li > a {
    color: #606060;
}
/*--------------------メインー--------------------*/
.main_contents{
    padding: 50px 0;
    max-width: 1200px;
}
/* おしらせ ******************************************************************/
.info {
    position: relative;
    display: block;
    margin: 0;
    padding: 30px 20px 0 20px;
    text-align: left;
    font-size: 14px;
    box-sizing: border-box;
}
.info > .label {
    position: absolute;
    width: 100px;
    margin: 0;
    padding: 3px 10px;
    text-align: center;
    background: #ad9f25;
    box-sizing: border-box;
    border: #ad9f25 2px solid;
    color: #fff;
    font-weight: bold;
    border-radius: 6px 0px 0px 6px;
}
.info > .article {
    position: relative;
    display: block;
    margin: 0 0 0 100px;
    padding: 3px 10px;
    background: #fff;
    box-sizing: border-box;
    border: #ad9f25 2px solid;
    color: #606060;
    font-weight: normal;
    border-radius: 0px 6px 6px 0px;
    text-decoration: none;
}
.info > .article:after {
    position: absolute;
    content: '〉';
    right: 10px;
}
.info > .article span {
    display: inline-block;
    margin-left: 5px;
    padding: 2px 5px;
    box-sizing: border-box;
    border-radius: 3px;
    background: #dc4021;
    color: #fff;
    font-size: 0.9em;
    line-height: 0.9em;
    text-decoration: none;
}
/*--------------------トップ画像ー--------------------*/
.key_visual{
    overflow: hidden;
    background-size:110% auto;
    background-image: url(../images/key_visual.jpg);
    background-repeat: no-repeat;
    background-position: top -130px left -60px;
}
.visual_title{
    width: 100%;
    text-align: right;
}
.visual_title img{
    width: 60%;
}
.visual_banner{
    width: 35%;
    float: left;
    margin: 20px 0;
}
.visual_banner img{
    width: 100%;
}
.visual_point{
    padding: 0 10px;
    width: 45%;
    float: right;
}
.visual_point img{
    width: 100%;
}

.title_sp{
    display: none;
}
/*--------------------出会いの保証制度ー--------------------*/
.encounter{
    background-image: url(../images/encounter_system.jpg);
    padding: 20px;
    box-shadow: 0px 0px 6px;
}
.encounter_content {
    padding: 20px 0;
   background-color: #fff;
   position: relative;
}
.encounter_page{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
}
.encounter_page img{
    width: 100%;
}
.encounter_title{
    text-align:center;
    margin-bottom: 20px;
}
.encounter_block{
    position: relative;
}
.encounter_title img{
    width: 50%;
}

.encounter_img{
    width: 300px;
    margin: 0 10px;
    position: absolute;
    top:0;
}
.encounter_img img{
    width: 100%;
}

.encounter_text{
   min-height: 250px;
   margin-left: 330px;
   max-width: 635px;
}
.encounter_text p{
    font-size: 1.4rem;
}
p.encounter_date{
    font-size: 1.1rem;
    text-align: right;
}
table.content_address {
    text-align: left;
    word-break: break-all;
}
/*--------------------コンテンツ共通ー--------------------*/
.block_contents{
    padding: 60px 50px;
    overflow: hidden;
}
div.block_contents.back_color{
    background-color: #f8f6e8;
}
.block_contents .content_title{
    text-align:center;
    text-shadow: -4px 6px 2px #d9d9d9;
    padding-bottom: 20px;
}
.block_contents .content_title h3{
    font-weight: normal;
    margin: 0;
    margin-bottom: 5px;
}
.block_contents .content_title h1 {
    margin: 0;
    position: relative;
    font-weight: normal;
    font-size: 2.5rem;
}
.block_contents .content_title h1 span {
    position: relative;
}
.block_contents .content_title h1 span:before {
    position:absolute;
    top:-40px;
    left:-200px;
    content:"";
    display:inline-block;
    width:200px;
    height:200px;
    background:url(../images/campaign.png) no-repeat;
    background-size:contain;
}
.block_contents .content_title h1:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;/*線の上下位置*/
  display: inline-block;
  width: 60px;/*線の長さ*/
  height: 3px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: #dc4021;/*線の色*/
}
.content_text{
    text-align: center;
    margin: 0 8%;
    margin-bottom: 20px;
}
.text_long {
    text-align: left;
}
.content_break{
    margin: 40px 0;
    height: 10px;
    background-image: url(../images/content_break.png);
    background-repeat: no-repeat;
    background-size:50% auto;
    background-position: center;
}

table.content_address {
    font-size: 1.2rem;
    word-break: break-all;
}
table.content_address td {
    text-align: left;
}
table.content_address td:nth-of-type(1) {
    white-space: nowrap;
}
.tel,.mail {
    color: #fff;
}
.encounter_text .tel, .encounter_text .mail,.content_policy .tel,.content_policy .mail {
    color: #000000;
}
/*--------------------コース・料金ー--------------------*/

.content_course_table{
    text-align: center;
}
.toggle_under{
    margin: 10px auto;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #a3a3a3;
}
.course_detail{
    font-size: 1rem;
    background-color:#ad9f25;
    color: #fff;
    padding:10px 0 10px;
    border-radius:25px;
    display: block;
    text-decoration: none;
}
table.course {
    width: 100%;
   margin: 0 auto;
   font-weight: bold;
   font-size: 1.2rem;
   border-spacing: 0;
}
table.course tr th {
    position: relative;
    width: 20%;
    padding: 10px 5px;
    border-radius: 7px 6px 0 0;
    border-spacing: 5px;
    border-top:solid 2px #d3d3d3;
    border-left:solid 2px #d3d3d3;
    color: #fff;
}

table.course tr th:nth-of-type(2),table.course tr th:nth-of-type(4){
    background: #dc4021;
}
table.course tr th:nth-of-type(2):after,
table.course tr th:nth-of-type(4):after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -10px;
    border-style: solid;
    border-color: #dc4021 transparent transparent transparent;
    border-width: 10px 100px 0 100px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

table.course tr th:nth-of-type(3),table.course tr th:nth-of-type(5){
    background: #468fb5;
}         
table.course tr th:nth-of-type(3):after,
table.course tr th:nth-of-type(5):after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -10px;
    border-style: solid;
    border-color: #468fb5 transparent transparent transparent;
    border-width: 10px 100px 0 100px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
table.course tr:nth-child(2) span {
    font-size: 1.2rem;
}
table.course tr:nth-child(2) td:nth-of-type(3),table.course tr:nth-child(2) td:nth-of-type(5){
    color:  #468fb5;
    font-size: 2rem;
    padding: 10px 0;
}
table.course tr:nth-child(2) td:nth-of-type(2),table.course tr:nth-child(2) td:nth-of-type(4){
    color:  #dc4021;
    font-size: 2rem;
    padding: 20px 0;
}

table.course tr td:nth-of-type(1) {
    text-align: right;
    padding:5px 10px;
    border-left: 0px none;
}
table.course tr td {
    padding: 5px;
    border-left:solid 2px #d3d3d3;
    border-bottom:solid 2px #d3d3d3;
}
table.course tr:nth-child(1) th:last-child,
table.course tr td:last-child,
table.course tr:nth-child(6) td:last-child,
table.course tr:nth-child(7) td:last-child{
    border-right:solid 2px #d3d3d3;
}
table.course tr:nth-child(6) td{
    border-bottom:solid 3px #d3d3d3;
}
table.course tr:nth-child(7),table.course tr:nth-child(8){
    background-color: #f9f2ba;
}
table.course tr:nth-child(3) span,
table.course tr:nth-child(4) span,
table.course tr:nth-child(5) span,
table.course tr:nth-child(6) span,
table.course tr:nth-child(7) span,
table.course tr:nth-child(8) span{
    font-size: 1rem;
}
table.course tr:nth-child(9) td,table.course tr:nth-child(10) td{
    border: 0px none;
}
table.course tr:nth-child(1) th:nth-child(1){
    border-top: 0px none;
    border-left: 0px none;
    text-align: right;
    vertical-align: bottom;
    padding: 15px;
}
.content_course_sp{
    display: none;
}
/*--------------------安心/安全な出会い--------------------*/
.safety_block{
    margin-top: 40px;
}
.safety_text{
    display: inline-block;
    width: 35%;
}
.safety_text h3{
    margin:10px 0;
}
.safety_text h3:before{
    content:"▶";
    color: #dc4021;
    margin: 5px; 
}
.safety_text h3 span.safety_date{
    font-size: 1rem;
    font-weight: normal;
}
.safety_img{
    display: inline-block;
    width: 60%;
}
.safety_img img{
    width: 100%;
    padding: 0 10px;
}
.pie_chart .safety_img{
    float: left;
    margin: 10px 0;
}
.pie_chart .safety_text{
    float: right;
}
.safety_block.pie_chart {
    overflow: hidden;
}
/*--------------------活動開始の流れ--------------------*/
.activity_block{

}
.flow_01{
    float: left;
}
.flow_02{
    float: right;
}
.flow_03{
    float: right;
}
.flow_04{
    float: left;
}
.activity_flow{
    width: 48%;
    height: 230px;
    margin: 25px 0;
}
.flow_box{
    position: relative;
    color: #fff;
    width: 600px;
    height: 220px;
    padding: 10px 20px;
    border: solid 3px #fff;
    box-shadow: 0px 0px 6px rgba(5, 5, 5, .3);
    vertical-align: middle;
    display: table-cell;
}

.flow_img {
    position: absolute;
}
.flow_img img{
    width: 100%;
}
.flow_box h2 {
    text-align: center;
    margin: 5px 0;
    color: #fde93f;
    font-weight: normal;
}
.flow_box h2 .flow_number {
    font-size: 1.1rem;
    margin: 0 10px;
}
.flow_01 .flow_box{
    background-color: #7db0cb;
}
.flow_01 .flow_box:before{
    content: "";
    position: absolute;
    top: 45%;
    right: -49px;
    margin-top: -12px;
    border: 25px solid transparent;
    border-left: 25px solid #7db0cb;
    z-index: 2;
}
.flow_01 .flow_box:after{
    content: "";
    position: absolute;
    top: 45%;
    right: -55px;
    margin-top: -14px;
    border: 27px solid transparent;
    border-left: 27px solid #fff;
    z-index: 1;
}
.flow_01 .flow_img{
    top: -20px;
    left: -10px;
    width: 60px;
}
.flow_02 .flow_box{
    background-color: #62a0c0;
}
.flow_02 .flow_img{
    top: -20px;
    right: -10px;
    width: 60px;
}

.flow_02 .flow_box:before{
    content: "";
    position: absolute;
    bottom: -49px;
    left: 47%;
    margin-left: -15px;
    border: 25px solid transparent;
    border-top: 25px solid #62a0c0;
    z-index: 2;
}
.flow_02 .flow_box:after{
    content: "";
    position: absolute;
    bottom: -55px;
    left: 47%;
    margin-left: -17px;
    border: 27px solid transparent;
    border-top: 27px solid #fff;
    z-index: 1;
}

.flow_03 .flow_box{
    background-color: #468fb5;
}
.flow_03 .flow_img{
    top: -20px;
    right: -10px;
    width: 60px;
}

.flow_03 .flow_box:before{
    content: "";
    position: absolute;
    top: 45%;
    left: -49px;
    margin-top: -12px;
    border: 25px solid transparent;
    border-right: 25px solid #468fb5;
    z-index: 2;
}
.flow_03 .flow_box:after{
   content: "";
    position: absolute;
    top: 45%;
    left: -55px;
    margin-top: -14px;
    border: 27px solid transparent;
    border-right: 27px solid #fff;
    z-index: 1;
}

.flow_04 .flow_box{
    background-color: #367798;
}
.flow_04 .flow_img{
    top: -20px;
    left: -30px;
    width: 100px;
}
.flow_03, .flow_04 {
    margin-bottom: 0px;
}

a.confirmation_open{
    font-weight: bold;
    color: #fff;
}


/*--------------------本人確認--------------------*/
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 30px;
    position: relative;
    top: 50%;
    max-width: 80vw;
    max-height: 80vh;
    transform: translate(-50%,-50%);
    width: 60%;
}
.close_button {
    position: absolute;
    top: 10px;
    right:10px;
    width:40px;
    height: 40px;
    background-image: url(../images/common/close.png);
    background-repeat: no-repeat;
    background-size:100% auto;
}
.modal__content h3{
    margin: 0;
    color: #dc4021;
}

.modal__content h3:before{
    content: "▶";
    padding-right: 5px;
}
.modal__content ul {
    list-style: disc;
    margin: 0;
}
.modal__content ul li p {
    text-decoration: underline;
}

.modal__content ul li p.attention{
    text-decoration: none;
    text-indent: -1em;
    padding-left: 1em; 
}
/*--------------------フッター--------------------*/
.site_footer{
    position: relative;
    padding: 20px 25px;
    background-color: #dc4021;
    color: #fff;
}
.site_footer h2{
margin: 0px 0 10px 0;
}

.page_top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}
.footer_address{
    width: 55%;
    display: inline-block;
    font-style: normal;
    margin-left: 2rem;
}
.footer_navi{
    font-size: 1.2rem;
    border-left: solid 1px #fff;
    width: 32%;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    margin-left: 10px;
}
.footer_inquiry{
    padding-left: 5.5em;
    text-indent: -5.5em;
}
.footer_navi ul {
    padding: 0;
    margin: 5px 0;
}
.footer_navi ul > li:before{
    content:"▶";
    margin: 5px;
    color: #fff;
}
.footer_navi ul > li a{
    text-decoration: none;
    color: #fff;
}
.copyright{
    padding: 20px 0;
    color: #fff;
    background-color: #282828;
    text-align: center;
}
/*--------------------コース・料金（詳細）--------------------*/
.tax {
    margin-top: 20px;
   text-align: right; 
}
.content_course {
    margin: 30px  0;
    overflow: hidden;
    font-size: 1.2rem;
}
.content_course ul{
    margin: 0;
    padding: 0;
}
.content_course ul > li:before {
    content: "・";
    margin: 5px;
}
.course_image {
    float: left;
    width: 49%;
}
.course_image img{
    width: 100%;
}
.course_membership,.course_other{
    float: right;
    width: 50%;
}
.course_membership{
    text-align: center;
    margin-bottom: 10px;
}
.course_member {
    display: inline-block;
    margin-right: 3%;
    width: 50%;
}
.course_member p{
    text-align: center;
    margin: 5px 0;
}
.course_member h2{
    margin: 5px 0;
    text-align: center;
    color: #468fb5;
}
.course_match{
    display: inline-block;
    width: 43%;
}
.match_box{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 170px;
    height: 170px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    background: #468fb5;
    border-radius: 50%;
    box-sizing: border-box;
}
.match_box:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -25px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #468fb5;
    z-index: 0;
}
.match_box .course_time{
    font-size: 2rem;
}
.match_text {
    display: none;
}

.course_other{
    padding: 10px 0;
    background-color: #fcf8d5; 
}
.back_color .course_other{
    background-color: #faf2b0; 
}
.course_other h3{
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    color: #de5336;
}
.course_other p{
    text-indent: -1em;
    padding-left: 2em;
}

.back_color .course_image{
    float: right;
}
.back_color .course_membership,.back_color .course_other{
    float: left;
}
/*--------------------サイトポリシー--------------------*/
.content_policy {
    font-size: 1.2rem;
    margin: 0 30px;
}
.content_policy h2 {
    margin: 5px 0;
}

/* おしらせページ ******************************************************************/
.infoPage {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    background: #fff;
    text-align: left;
}
.infoPage .bigtitle {
    text-align: center;
    font-size: 3em;
}
.infoPage dl {
    list-style: none;
    margin: 20px auto;
    padding: 0 50px;
    font-size: 18px;
}
.infoPage dt {
    display: block;
    margin: 20px 0 0 0;
    padding: 5px 10px 5px 0;
    box-sizing: border-box;
    font-weight: bold;
    color: #dc4021;
}
.infoPage dt:first-child {
    margin: 0;
}
.infoPage dt > span {
    display: inline-block;
    color: #666;
    padding: 0 10px 0 0;
}
.infoPage dd {
    margin: 0;
    padding: 5px 0 0 0;
    line-height: 2;
    box-sizing: border-box;
    background: #f8f6e8;
}

@media all and (max-width: 1024px) {
    header {
        padding: 5px 15px;
    }
    nav.menu {
        font-size: 1rem;
    }
    nav.menu ul > li {
    margin-right: 15px;
    }
    .step li {
        font-size: 1.1rem;
        height: 40px;
    }
    table.course tr th:nth-of-type(2):after,
table.course tr th:nth-of-type(4):after,
    table.course tr th:nth-of-type(3):after,
    table.course tr th:nth-of-type(5):after{
        border-width: 10px 8vw 0 8vw;
    }
}
