/*--------------------共通--------------------*/
body{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000 url('../images/background_smoke.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
    font-feature-settings: "palt";
}
ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;
    box-sizing: border-box;
}


.page_description {
    display: none;
}
    
.base_contents {
    position: relative;
    top: 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    color: #000;
    font-size: 16px;
}

.photo_main {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding:0;
    width: 100%;
    text-align: center;
}
.photo_main > img{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}




/* ヘッダー ******************************************************************/
header {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    max-width: 1200px;
    background: rgba(255,240,128,0.9);
    z-index: 99;
}
header:after {
    content: "";
    display: block;
    clear: both;
}
header .menu {
    display: block;
    font-size: 12px;
}
header .menu > li {
    display: inline-block;
    margin: 10px 0;
    padding: 0 5px;
    box-sizing: border-box;
    border-left: #fff solid 1px;
}
header .menu > li:first-child {
    padding-left: 20px;
    border-left: none;
}
header .menu > li:last-child {
    display: none;
}
header .menu > li > a {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}
header .contacts {
    position: absolute;
    right: 20px;
    top: 9px;
}
header .contacts img {
    height: 14px;
    margin-right: 10px;
}
header .hamburger {
    display: none;
}




/* おしらせ ******************************************************************/
.info {
    position: relative;
    display: block;
    margin: 0;
    padding: 60px 20px 0 20px;
    text-align: left;
    font-size: 14px;
    box-sizing: border-box;
}
.info > .label {
    position: absolute;
    width: 100px;
    margin: 0;
    padding: 3px 10px;
    text-align: center;
    background: #000;
    box-sizing: border-box;
    border: #000 3px solid;
    color: #fff;
    font-weight: bold;
}
.info > .article {
    position: relative;
    display: block;
    margin: 0 0 0 100px;
    padding: 3px 10px;
    background: #fff;
    box-sizing: border-box;
    border: #000 3px solid;
    color: #000;
    font-weight: normal;
}
.info > .article:after {
    position: absolute;
    content: '〉';
    right: 10px;
}
.info > .article span {
    display: inline-block;
    margin-left: 5px;
    padding: 2px 5px;
    box-sizing: border-box;
    border-radius: 3px;
    background: #e91fae;
    color: #fff;
    font-size: 0.9em;
    line-height: 0.9em;
    text-decoration: none;
}





/* ロゴ、キャッチコピー ******************************************************************/
.logo_s {
    position: relative;
    width: 12%;
    margin: 2vw auto 0;
}
.catch_main {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
@media all and (max-width: 1024px) {
    /* ipad用に調整 */
    .logo_s {
        width: 12%;
        margin: 1vw auto 0;
    }
    .catch_main {
        top: -1vw;
    }
}



/* 三つのポイント ******************************************************************/
.three_points {
    position: relative;
    display: block;
    max-width: 1200px;
    margin: 4% auto 0;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: left;
    color: #000;
    font-size: 16px;
}
.three_points:after {
    content: "";
    display: block;
    clear: both;
}
.three_points > ul > li {
    position: relative;
    display: block;
    float: left;
    width: 32%;
    min-height: 400px;
    margin: 0 2% 0 0;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
}
.three_points > ul > li:nth-child(2) {
    margin: 50px 2% 0 0; 
}
.three_points > ul > li:nth-child(3) {
    margin: 100px 0 0 0; 
}
.three_points > ul > li > img.photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.three_points > ul > li > img.label {
    width: 100%;
}
.three_points > ul > li > span {
    display: inline-block;
}
.three_points .mass_boxing {
    position: absolute;
    bottom: -2.3em;
    left: 0;
    line-height: 1;
    font-size: 0.8em;
}




/* 練習の様子 ******************************************************************/
.training {
    position: relative;
    display: block;
    max-width: 1200px;
    margin: 2% auto 0;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1;
}
.training a {
    position: absolute;
    top: -90px;
    right: 0;
    display: inline-block;
    box-sizing: border-box;
}
.training a:first-child {
    margin: 0 2% 0 0;
}
.training a img {
    position: relative;
    width: 120px;
    height: 120px;
    object-fit: cover;
    box-sizing: border-box;
    border: 5px #000 solid;
    border-radius: 50%;
    opacity: 0.6;
}
.training a:hover img {
    opacity: 1;
}
.training a:before {
    content: "";
    display: block;
    position: absolute;
    top: 48%;
    left: 50%;
    margin-top: -1.0em;
    margin-left: -1.5em;
    width: 3.0em;
    height: 2.0em;
    border-radius: 20%;
    background: #d00;
    z-index: 1;
}
.training a:after {
    content: "";
    display: block;
    position: absolute;
    top: 48%;
    left: 50%;
    margin-top: -0.5em;
    margin-left: -0.3em;
    width: 0;
    height: 0;
    border-top: 0.5em solid transparent;
    border-left: 0.8em solid #fff;
    border-bottom: 0.5em solid transparent;
    z-index: 2;
}
.training a:hover:before {
    background: #f00;
}
.training a span {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 12px;
}





/* 申し込みボタン① ******************************************************************/
.btn_entry_1 {
    position: relative;
    display: block;
    margin: 20px 20px 0 20px;
}
.btn_entry_1 > img {
    width: 100%;
}




/* レディース ******************************************************************/
.ladies {
    position: relative;
    margin: 50px 0 0 0;
    background: #e91fae;
}
.ladies > img {
    width: 100%;
}




/* 申し込みボタン② ******************************************************************/
.btn_entry_2 {
    position: absolute;
    bottom: 0;
    display: block;
    margin: 0 20px;
}
.btn_entry_2 > img {
    width: 100%;
}






/* 見学・体験・入会について ******************************************************************/
.about_entry {
    position: relative;
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 20px 0 20px;
    box-sizing: border-box;
    background: #e5e5e5;
}
.about_entry .bigtitle_1 {
    color: #f00;
    font-size: 3em;
}
.about_entry table {
    position: relative;
    margin: 10px 0 0 0;
    padding: 0;
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: none;
    table-layout: fixed;
}
.about_entry table td {
    width: 33%;
    padding: 10px;
    box-sizing: border-box;
    border-right: #e5e5e5 solid 20px;
    background: #fff;
    line-height: 1.5;
    font-size: 1.2em;
    text-align: left;
    vertical-align: top;
}
.about_entry table td:last-child {
    border-right: none;
}
.about_entry td .title {
    margin-bottom: 10px;
    background: #f00;
    color: #fff;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
}
.about_entry table td .red {
    color: #f00;
}
.about_entry table td .small {
    display: block;
    margin-bottom: 5px;
    font-size: 0.6em;
}
.about_entry .bigtitle_2 {
    margin: 20px auto 0;
    font-weight: bold;
    text-align: left;
}
.about_entry .description_2 {
    margin: 10px 0 0 0;
    padding-bottom: 30px;
    text-align: left;
}






/* 料金プラン ******************************************************************/
.prices {
    position: relative;
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 20px;
    box-sizing: border-box;
    background: #fff;
}
.prices .bigtitle {
    color: #f00;
    font-size: 3em;
}
.prices table {
    position: relative;
    margin: 20px 0 0 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: none;
    border-left: #aaa solid 1px;
    border-top: #aaa solid 1px;
}
.prices table:first-child {
    margin: 0;
}
.prices table th,
.prices table td
{
    border-right: #aaa solid 1px;
    border-bottom: #aaa solid 1px;
    text-align: center;
}
.prices table th:after,
.prices table td:after
{
    content: "";
    display: block;
    clear: both;
}
.prices table th {
    background: #aaa;
    color: #fff;
}
.prices table th:first-child,
.prices table td:first-child
{
    width: 20%;
}
.prices table td:first-child {
    background: #eed;
}
.prices table td strong {
    font-size: 2em;
}
.prices table .small {
    font-size: 0.6em;
}
.prices table .blue {
    color: #69f;
}
.prices table .red {
    color: #f00;
}
.prices table:last-child td {
    font-weight: bold;
}
.prices table td .weekday s {
    text-decoration: none;
    color: #ddd;
}
.prices table td .weekday,
.prices table td .times
{
    display: inline-block;
    width: auto;
    margin: auto;
    text-align: right;
}
.prices table td .times {
    padding-left: 5%;
    text-align: left;
}
.prices .attention {
    padding: 10px 0 0 20%;
    text-align: left;
    color: #f00;
}





/* 営業カレンダー ******************************************************************/
.calendar {
    position: relative;
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 20px;
    box-sizing: border-box;
    background: #fff;
}
.calendar .bigtitle {
    font-size: 3em;
}
.customCalendar {margin:0 auto 10px; padding:0; font-size:1em; }
.customCalendar:after {content:''; display:block; clear:both;}
.customCalendar > table {margin:0; padding:0; width:50%; box-sizing:border-box; float:left; table-layout:fixed; border-collapse:separate; border-spacing:0; border:none;}
.customCalendar > table:nth-child(odd) {padding:0 10px 10px 0;}
.customCalendar > table:nth-child(even) {margin:0; padding:0 0 10px 10px;}

.customCalendar > table caption {position:relative; margin:0 10px 0 0; padding:0; color:#000; font-weight:bold; text-align:left;}
.customCalendar > table caption > strong {font-size:2em;}
.customCalendar > table:nth-child(odd) caption {margin:0 10px 0 0;}
.customCalendar > table:nth-child(even) caption {margin:0 0 0 10px;}

.customCalendar > table th {background:#fff; color:#333; font-weight:bold;}
.customCalendar > table th, .customCalendar > table td {margin:0; padding:0; text-align:center; font-size:0.75em; border-bottom:1px #ddd solid; border-right:1px #ddd solid;}
.customCalendar > table tr:first-child th {border-top:1px #ddd solid;}
.customCalendar > table th:first-child, .customCalendar > table td:first-child {border-left:1px #ddd solid;}
.customCalendar > table th:first-child {color:#cc4c4c;}
.customCalendar > table th:last-child {color:#00cbeb;}
.customCalendar > table td {vertical-align:top; background:#fdfbf3; line-height:1.5; height:6em; color:#666;}
.customCalendar > table td.today {background:#f7ec7e;}
.customCalendar > table td > span {display:block; color:#000;}
.customCalendar > table td > .close {color: #bbb; font-weight:bold;}
.customCalendar > table td > .holiday {color: #c33;}
.customCalendar > table td > .comment {color: #000; font-weight:bold;}
.customCalendar > table td > div {display:block; white-space:nowrap; text-align:center; background:#099; font-weight:bold; color:#fff;}
.customCalendar > table td.close > div {background:#e54b4b;}
.customCalendar > table td.past > div {background:#aaa;}

@media all and (max-width: 1024px) {
    /* ipad用に調整 */
    .customCalendar > table {width:100%;}
    .customCalendar > table:nth-child(odd) {padding:0 0 10px 0;}
    .customCalendar > table:nth-child(even) {margin:0; padding:0 0 10px 0;}
    .customCalendar > table caption {text-align:center;}
}

.calendar .googleCalender {
    position: relative;
    margin: 20px 0 0 0;
    padding-bottom: 75%; /* 縦横比 */
    height: 0;
    overflow: hidden;
}
.calendar .googleCalender iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}




/* 申し込みボタン③ ******************************************************************/
.btn_entry_3 {
    position: relative;
    display: block;
    background: #fff url('../images/background_entry_3.png');
    background-size: cover;
}
.btn_entry_3 > img {
    /*margin: 0 20px;*/
    padding: 50px 20px;
    width: 100%;
    box-sizing: border-box;
}




/* よくあるご質問 ******************************************************************/
.faq {
    position: relative;
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 50px 20px 50px;
    box-sizing: border-box;
    background: #fff;
}
.faq .bigtitle {
    margin-bottom: 20px;
    font-size: 3em;
}
.faq .q,
.faq .a
{
    margin-bottom: 40px;
    text-align: left;
    font-size: 1.6em;
    line-height: 1.2;
}
.faq .q {
    margin-bottom: 10px;
    color: #f00;
}






/* アクセス ******************************************************************/
.access {
    position: relative;
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 50px 20px 50px;
    box-sizing: border-box;
    background: #ffe400;
}
.access .bigtitle {
    font-size: 3em;
}
.access .googleMap {
    border: 5px solid #000;
    font-size: 0;
}
.access .contact {
    margin-top: 20px;
}
.access .contact >span {
    margin-right: 20px;
}
.access .contact >span:last-child {
    margin-right: 0;
}





/* インスタグラム ******************************************************************/
.instagram {
    position: relative;
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px 50px 40px 50px;
    box-sizing: border-box;
    background: #000;
    text-align: left;
}
.instagram img {
    margin: 10px 0;
}





/* copyright ******************************************************************/
.copyright {
    padding: 30px 0;
    background: #fff;
    color: #000;
}






/* 最上部へもどるリンク（トップページで使用） ******************************************************************/
.goTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #000;
    box-sizing: border-box;
    border: 3px solid #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    opacity: 0.5;
}
.goTop:after{
    content: "";
    position: absolute;
    display: inline-block;
    top: 18px;
    left: 15px;
    width: 10px;
    height: 10px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.goTop:hover {
    opacity: 1;
}





/* もどるリンク（他ページで使用） ******************************************************************/
.goBack {
    max-width: 1200px;
    margin: 0 auto;
    padding:50px 20px 20px;
    box-sizing: border-box;
    background: #fff;
    text-align: left;
}
.goBack a {
    text-decoration: none;
    font-weight: bold;
    color: #038;
}
.goBack a:hover {
    text-decoration: underline;
}





/* バナー ******************************************************************/
.banner {
    display: inline-block;
    max-width: 800px;
    margin: 50px auto;
    padding: 0;
    box-sizing: border-box;
}
.banner img {
    margin: 0;
    padding: 0;
    width: 100%;
}




/* サイトポリシー ******************************************************************/
.policy {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    background: #fff;
    text-align: left;
    /*font-size: 1.5em;*/
    border-bottom: #aaa solid 1px;
}
.policy .bigtitle {
    text-align: center;
    font-size: 3em;
}
.policy h3 {
    margin: 30px 0 10px 0;
    padding-bottom: 10px;
    border-bottom: #aaa dashed 1px;
}
.policy h3:first-child {
    margin: 0 0 10px 0;
}






/* おしらせページ ******************************************************************/
.infoPage {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    background: #fff;
    text-align: left;
    border-bottom: #aaa solid 1px;
}
.infoPage .bigtitle {
    text-align: center;
    font-size: 3em;
}
.infoPage dl {
    list-style: none;
    margin: 20px auto;
    padding: 0 50px;
    font-size: 18px;
}
.infoPage dt {
    display: block;
    margin: 20px 0 0 0;
    padding: 5px 10px 5px 0;
    box-sizing: border-box;
    font-weight: bold;
    color: #e60;
}
.infoPage dt:first-child {
    margin: 0;
}
.infoPage dt > span {
    display: inline-block;
    color: #666;
    padding: 0 10px 0 0;
}
.infoPage dd {
    margin: 0 0 0 50px;
    padding: 5px 0 0 0;
    line-height: 2;
    box-sizing: border-box;
    background: #f9f8f4;
}
@media all and (max-width: 1024px) {
    /* ipad用に調整 */
    .infoPage dd {
        margin: 0;
    }
}

