p{
    font-size: 1rem;
}
.base_contents {
    width: 100%;
}
/* ヘッダー ******************************************************************/
header {
    padding: 0 5px 10px 5px;
    height: auto;
}
/* ヘッダーロゴ ******************************************************************/
.change_logo{
    width: 43%;
    margin-top: 10px;
}
/* メニュー ******************************************************************/
nav.menu {
    width: 100%;
    margin-top: 5px;
}
nav.menu ul {
    width: 100%;
    display: table;
    text-align: center;
    padding: 0;
    font-size: 0.6rem;
}
nav.menu ul > li {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}
/* 帯メニュー ******************************************************************/
.right_menu_block{
    font-size: 0.8rem;
    line-height: 2.4;
    vertical-align: top;
    position: static;
    background-size:20px auto;
    box-shadow: none;
    background-position: 5% 13px;
    padding:15px 10px 8px 27px;
    text-align: center;
    border-radius: 0 0 6px 6px;
}

.right_menu{
    float: right;
    text-align: right;

}

/* トップ画像 ******************************************************************/
.key_visual{
   background-size:auto 100%;
   padding-top: 30px;
   background-position: -100px;
}
.visual_title{
    text-align: center;
}
.visual_title img {
    width: 100%;
}
.visual_banner{
    width: 100%;
    float: none;
    margin:0;
    margin-bottom: 30px;
    text-align: right;
}.visual_banner img{
    width: 50%;
}
.visual_point{
    width: auto;
    float: none;
    margin-bottom: 25px;
    text-align:center;
}
.visual_point img{
    width: 100%;
}
.title_sp {
    display: block;
}
.title_pc {
    display: none;
}
/* 出会いの保証制度 ******************************************************************/
.encounter {
    margin:0;
    padding: 20px 5px;
}
.encounter_title img{
    width: 80%;
    margin:0 auto;
}
.encounter_block {
    padding:0 20px;
    
}
.encounter_img{
    display: none;
}
.encounter_text{
    height: auto;
    margin: 0;
    background-image: url(../images/encounter.png);
    background-repeat: no-repeat;
    background-color:rgba(255,255,255,0.7);
    background-blend-mode:lighten;
    min-height: 180px;
}
.encounter_text p {
    font-size: 1rem;
}

/* コンテンツ共通 ******************************************************************/
.main_contents {
    padding: 60px 0 30px 0;
}
.block_contents .content_title h1 span:before {
    top:-30px;
    left:-70px;
    width:90px;
    height:90px;
}
.block_contents .content_title h1 {
    font-size: 1.6rem;
}
.block_contents .content_title h1:after {
    bottom: -8px;
}
.content_text{
    margin: 0;
    margin-bottom: 20px;
}
.content_br:before {
    content: "\A" ;
    white-space: pre ;
}
.block_contents {
    padding: 40px 10px;
}
table.content_address {
    font-size: 1rem;
}
/* コース・料金 ******************************************************************/
.content_course_table{
    display: none;
}
.content_course_sp{
    display: block;
}
.course_title{
    width: 50%;
    padding: 5px 15px;
    background-color: #468fb5;
    color: #fff;
    border-radius: 10px;
}
table.price_table{
    width: 100%;
    margin: 10px auto;
    background: #fff;
    border-collapse: collapse;
    border:2px solid #d3d3d3;
    text-align: center;
}
table.price_table td,table.price_table th{
    width: 20%;
    font-weight: normal;
    border:2px solid #d3d3d3;
}
table.price_table th{
    padding: 5px 0;
    border-bottom: 3px solid #d3d3d3;
}
table.price_table td{
    padding: 15px 0;
}
table.price_table td span,.price_menu li span

{
    font-size: 0.8rem;
}
table.price_table tr:nth-child(2) td:nth-child(4) span{
    font-size: 1rem;
}
table.price_table tr:nth-child(2) td:nth-child(4){
    font-size: 1.3rem;
    color: #dc4021;
}
.price_menu {
    padding: 0;
    margin: 10px 0;
}
.price_menu > li {
    margin-bottom: 5px;
}
.price_menu > li:before{
    content:"●";
    color: #dc4021;
    margin: 5px;
}
.course_detail{
    width: 50%;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}
.content_break{
    background-size:70% auto;
}
/* 安心/安全な出会い ******************************************************************/
.safety_block{
    margin: 0;
}
.safety_text {
    width: 100%;
}
.safety_img {
    margin: 10px 0;
    width: 100%;
}
.safety_img img{
    padding: 0;
}
.safety_text p {
    margin-left: 1.5rem;
}
/* 活動開始の流れ ******************************************************************/
.activity_block{
    padding: 30px auto;
}
.activity_flow{
    width:100%;
    height: auto;
    margin: 25px auto;
}
.flow_box{
    padding:20px 5px;
    height: auto;
    margin: 0 auto;
}
.flow_box h2 {
    font-size: 1.3rem;
}
.flow_01 .flow_img{
    top: -40px;
    left: 10px;
}
.flow_01 .flow_box:before{
    top: auto;
    right: auto;
    margin-top: 0;
    bottom: -49px;
    left: 47%;
    margin-left: -15px;
    border: 25px solid transparent;
    border-top: 25px solid #7db0cb;
}
.flow_01 .flow_box:after{
    top: auto;
    right: auto;
    margin-top: 0;
    bottom: -55px;
    left: 47%;
    margin-left: -17px;
    border: 27px solid transparent;
    border-top: 27px solid #fff;
}
.flow_02 .flow_img{
    right: auto;
    top: -20px;
    left: 10px;
}
.flow_03 .flow_img{
    right: auto;
    top: -40px;
    left: 0px;
}
.flow_03 .flow_box:before{
    top: auto;
    right: auto;
    margin-top: 0;
    bottom: -49px;
    left: 47%;
    margin-left: -15px;
    border: 25px solid transparent;
    border-top: 25px solid #468fb5;
}
.flow_03 .flow_box:after{
    top: auto;
    right: auto;
    margin-top: 0;
    bottom: -55px;
    left: 47%;
    margin-left: -17px;
    border: 27px solid transparent;
    border-top: 27px solid #fff;
}
.flow_04 .flow_img{
    top: -30px;
    left: 10px;
}

.flow_04 {
    margin-bottom: 0;
}


/* 本人確認 ******************************************************************/
.modal__content {
    overflow: scroll;
    width: 80%;
    padding: 40px 10px;
}
.modal__content ul li p.attention {
    text-indent: 0;
    padding: 0;
}
.close_button {
    width: 30px;
    height: 30px;
    top: 5px;
    right: 5px;
}
/* フッター ******************************************************************/
.footer_address {
    width: 100%;
    margin: 0;
}
.footer_navi{
    font-size: 1rem;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    margin-top: 10px;
    width: 100%;
    border-left: none;
    border-top: solid 1px #fff;
}
.footer_navi ul{
    padding: 0;
    margin: 0;
}
.copyright{
    padding: 10px 0;
}
.footer_inquiry {
    text-align: left;
}
/* コース・料金（詳細） ******************************************************************/
.tax {
    margin-top: 40px;
    font-size: 0.8rem;
}
.content_course {
    font-size: 1rem;
}
.course_member p,.course_member h2 {
    margin: 0;
}

.course_member,.course_match {
    width: 100%;
    margin: 0;
}
.match_box {
    display: none;
}
.match_text {
    display: block;
}
.course_other{
    clear: both;
    width: 100%;
}
/* サイトポリシー ******************************************************************/
.content_policy {
    margin: 0 10px;
    font-size: 1rem;
}
.content_policy h2 {
    font-size: 1.3rem;
}

/* おしらせ ******************************************************************/
.info {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 97;
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(255,255,255,0.7);
}
.info > .label {
    display: none;
}
.info > .article {
    margin: 0;
    border-radius: 6px;
    border: #ad9f25 2px solid;
}
.info > .article:after {
    right: 5px;
}

/* おしらせページ ******************************************************************/

.infoPage dl {
    padding: 0;
}
.infoPage dt > span {
    display: block;
}