.base_contents {
    margin-top: 50px;
    font-size: 3vw;
}
.menu_mask{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 98;
}





/* ヘッダー ******************************************************************/
header {
    background: #fff280;
    height: 50px;
    text-align: left;
}
header .menu {
    position: absolute;
    top: 50px;
    display: none;
    width: 100%;
    background: #038;
}
header .menu > li {
    display: block;
    margin: 0;
    padding: 0;
    border-left: none;
    border-bottom: #69f solid 1px;
    box-sizing: border-box;
}
header .menu > li:first-child {
    padding: 0;
}
header .menu > li:last-child {
    display: block;
    border-bottom: none;
    background: #000;
    text-align: center;
}
header .menu > li > a {
    display: block;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
}
header .menu > li > a:after {
    position: absolute;
    content: '〉';
    right: 10px;
}
header .menu > li:last-child > a:after {
    display: none;
}
header .contacts {
    position: relative;
    top: 18px;
    right: 10px;
    left: 10px;
    display: inline-block;
}
header .contacts img {
    height: 12px;
}
header .hamburger,
header .hamburger span
{
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}
header .hamburger {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 28px;
    z-index: 99;
}
header .hamburger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #038;
  border-radius: 4px;
}
header .hamburger span:nth-of-type(1) {
  top: 0;
}
header .hamburger span:nth-of-type(2) {
  top:12px;
}
header .hamburger span:nth-of-type(3) {
  bottom: 0;
}
header .hamburger.active span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-45deg);
  transform: translateY(12px) rotate(-45deg);
}
header .hamburger.active span:nth-of-type(2) {
  opacity: 0;
}
header .hamburger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(45deg);
  transform: translateY(-12px) rotate(45deg);
}





/* おしらせ ******************************************************************/
.info {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 97;
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
}
.info > .label {
    display: none;
}
.info > .article {
    margin: 0;
}
.info > .article:after {
    right: 5px;
}








/* ロゴ、キャッチコピー ******************************************************************/
.logo_s {
    width: 28%;
    margin: 10px auto 0;
}
.catch_main {
    top: 0;
}




/* 三つのポイント ******************************************************************/
.three_points {
    margin-top: 30px;
}
.three_points > ul > li {
    display: block;
    float: none;
    width: auto;
    height: 110px;
    min-height: auto;
    margin: 0 0 30px 0; 
    padding: 5px 5px 5px 110px;
}
.three_points > ul > li:nth-child(2),
.three_points > ul > li:nth-child(3)
{
    margin: 0 0 20px 0; 
}

.three_points > ul > li > img.photo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.three_points > ul > li > img.label {
    width: 80%;
    margin: 5px 0;
}
.three_points > ul > li > span {
    line-height: 1.3;
    font-size: 12px;
}
.three_points .mass_boxing {
    bottom: -1.6em;
    font-size: 10px;
}





/* レディース ******************************************************************/
.ladies {
    margin: 20px 0 0 0;
}




/* 申し込みボタン② ******************************************************************/
.btn_entry_2 {
    position: absolute;
    bottom: 0;
    display: block;
    margin: 0 20px 10px 0;
}




/* 見学・体験・入会について ******************************************************************/
.about_entry .bigtitle_1 {
    font-size: 2.5em;
}
.about_entry table td {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-right: none;
    line-height: 1.5;
}
.about_entry table td:last-child {
    margin-bottom: 0;
}
.about_entry td .title {
    margin-bottom: 5px;
    font-size: 5vw;
}
.about_entry table td .small {
    display: inline;
}
.about_entry table td .small:after {
    content: "";
    display: block;
    clear: both;
}





/* 料金プラン ******************************************************************/
.prices {
}
.prices table td strong {
    font-size: 1.6em;
}
.prices .attention {
    padding: 10px;
}





/* 営業カレンダー ******************************************************************/
.calendar {padding:25px 0;}
/*.calender .googleCalender {
    padding-bottom: 100%;
}*/





/* よくあるご質問 ******************************************************************/
.faq {
    padding: 25px 20px 20px 20px;
}




/* アクセス ******************************************************************/
.access {
    padding: 15px 20px 20px 20px;
}
.access .contact {
    margin-top: 10px;
    text-align: left;
}
.access .contact >span {
    display: block;
}




/* インスタグラム ******************************************************************/
.instagram {
    padding: 0 5px 0 5px;
}
.instagram img {
    margin: 10px 0 10px 5px;
    width: 50%;
}




/* 最上部へもどるリンク（トップページで使用） ******************************************************************/
.goTop {
    opacity: 0.9;
}






/* バナー ******************************************************************/
.banner {
    display: inline-block;
    margin: 10px auto 20px;
}








/* もどるリンク（他ページで使用） ******************************************************************/
.goBack {
    padding-top: 5px;
}
    
    
    
/* サイトポリシー ******************************************************************/
.policy {
    padding:10px 20px;
}




/* おしらせページ ******************************************************************/
.infoPage {
    padding:10px 20px;
}
.infoPage dl {
    padding: 0;
}
.infoPage dt > span {
    display: block;
}
